{% if messages %}
<div class="container mt-4 mb-2">
  {% for message in messages %}
  <div class="custom-alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
    {% if message.tags == 'error' %}
      <i class="bi bi-exclamation-triangle-fill fs-5 text-danger"></i>
    {% else %}
      <i class="bi bi-check-circle-fill fs-5 text-success"></i>
    {% endif %}
    <div>{{ message }}</div>
    <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
</div>
{% endif %}
